$font-size-base:              .75rem;

$body-bg:                   #F5F8FB;

$input-btn-padding-y:         .25rem;
$input-btn-padding-x:         .85rem;

$btn-box-shadow:              none !important;
$btn-focus-box-shadow:        none !important;
$btn-active-box-shadow:       none !important;

$breadcrumb-bg:               transparent;
